# env/prod.env
# Variables pour la base de données
DB_HOST=db
DB_PORT=3306
DB_USER=prod_user
DB_PASSWORD=prod_secure_password
DB_NAME=prod_db
DB_ROOT_PASSWORD=prod_root_secure_password

# Variables pour auth-app
AUTH_PORT=3000
JWT_SECRET=prod_jwt_secret_key_very_secure
AUTH_DB_HOST=db
AUTH_DB_USER=prod_user
AUTH_DB_PASSWORD=prod_secure_password
AUTH_DB_NAME=prod_db

# Variables pour api-app
API_PORT=3001
API_DB_HOST=db
API_DB_USER=prod_user
API_DB_PASSWORD=prod_secure_password
API_DB_NAME=prod_db

# Vault Configuration
VAULT_TOKEN=prod_root_token
VAULT_ADDR=http://vault:8200